@font-face {
  font-family: 'Adso';
  src: url('./adso.woff2') format('woff2'),
       url('./adso.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adso';
  src: url('./adso-bold.woff2') format('woff2'),
       url('./adso-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* If there are italic versions, add them here */